doctype html
html

  head
    title HiQ
    meta(name='viewport' content='width=device-width, initial-scale=1')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    != css()
    != js()

  body
    header
      each game, index in data.games
        if index != 'qutesports'
          a(class=index)
            img(src=game.image)
            span=game.name
    
    // Loops thorugh each games in games.yaml
    each game, index in data.games
      if index == 'qutesports'
        section(class=index)
          //- #wrapper
          //-   img(src='img/rwf.png')
          //-   #timer
          .video-summary
            .summary
              h1 Arena Details
              h2 Number of Computers: #{game.computers}
              h2 Graphics Cards: #{game.graphics}
              h2 Training: Mon-Fri from 4-6pm 
              h2 Location: X-224
            img(src=game.banner)
          .game-details
            h1 About Us
            p=game.about
            p=game.goals
      else
        section.games(class=index)
          .video-summary
            .summary
              h1 Game Details
              h2 Genre: #{game.genre}
              h2 Team Size: #{game.team}
              h2 Avaliable to play at QUT eSports
              h2 Location: X-224
            img(src=game.banner)
          .game-details
            h1 About The Game
            p=game.about
            p=game.strategy
