doctype html
html

  head
    title HiQ
    meta(name='viewport' content='width=device-width, initial-scale=1')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    != css()
    != js()

  body
    header
      each game in contentful.games
        if game.club == true
          a(class=game.name)
            img(src!=asset(game.logo))

    #background

    // Loops thorugh each games in games.yaml
    section(class=contentful.sitedefaults[0].title)
      .game-summary
        .summary
          h1 Arena Details
          h2 Number of Computers: 14
          h2 Graphics Cards: GTX 1050 Ti
          h2 Training: Mon-Fri from 4-6pm 
          h2 Location: X-224
        img(src!=asset(contentful.sitedefaults[0].poster))
      .game-details
        h1 About Us
        !=markdown(contentful.sitedefaults[0].about)
        !=markdown(contentful.sitedefaults[0].goals)
    
    each game in contentful.games
      if game.club == true
        section.games(class=game.name)
          .game-summary
            .summary
              h1 Game Details
              h2 Genre: #{game.genre}
              h2 Team Size: #{game.team}
              h2 Avaliable to play at QUT eSports
              h2 Location: X-224
            img(src!=asset(game.poster))
          .game-details
            h1 About #{game.name}
            p=game.about
            p=game.strategy
