each game, index in games
  section.games(class='#{ index }')
    .video-summary
      iframe(width='740', height='416', src='#{ game.video }', frameborder='0', allowfullscreen, volume='0')
      .youtube-cover
      .summary
        h1 Game Details
        h2 Year: #{ game.year }
        h2 Genre: #{ game.genre }
        h2 Team Size: #{ game.team }
        h2 Avaliable to play at QUT eSports
    
    .game-details
      h1 About the game
      p #{ game.about }
      p #{ game.strategy }
